html
    body
        .api-index
            h2 Game API index.
            p Routes implemented:
            ul
                li
                    | http://localhost:8000/ – client application
                li http://localhost:8000/api – this page,
                li http://localhost:8000/api/processSpin – outcome for spin request.
        a.right-top(href='http://localhost:8000/') <- Main page
