$animationDuration: 5;
.run-animation {
  .spin1 {
    @include vendor-prefixes(animation, 'spinAnimation .5s linear #{$animationDuration}');
  }
  .spin2 {
    @include vendor-prefixes(animation, 'spinAnimation2 .5s linear #{$animationDuration}');
  }
  .spin1.animating, .spin2.animating {
    @include vendor-prefixes-blur-filter('2px');
  }
}

.wheel1 .spin1, .wheel1 .spin2 {
  @include vendor-prefixes(animation-duration, '.6s');
}

.wheel2 .spin1, .wheel2 .spin2 {
  @include vendor-prefixes(animation-duration, '.7s');
}

.wheel3 .spin1, .wheel3 .spin2 {
  @include vendor-prefixes(animation-duration, '.8s');
}

@keyframes spinAnimation {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 930px;
  }
}

@keyframes spinAnimation2 {
  0% {
    margin-top: -930px;
  }
  100% {
    margin-top: 0;
  }
}