$greenColor: #63D66C;
$whiteColor: #fff;
$blackColor: #000;
$bonusColor: #A5F1FF;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $greenColor;
  font-family: verdana, arial, serif;
  font-size: 25px;
  background: #222222;
  text-shadow: 0 0 1px $greenColor, 0 0 1px $whiteColor,
  0 0 1px $greenColor, 0 0 1px $greenColor,
  0 0 1px $blackColor, 0 0 3px $whiteColor,
  0 0 2px $blackColor, 0 0 3px $blackColor;
  width: 100%;
  height: 100%;
  text-align: center;
}

.center {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}

#heading-text {
  font-size: 2em;
  padding-bottom: 10px;
}

.container {
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
  width: 713px;
}

.clear {
  clear: both;
}

.hide {
  display: none !important;
}
