/* Usage:
@include vendor-prefixes(transform, 'scale(0, 0)');
*/
/* Usage:
@include vendor-prefixes-blur-filter('5px');
*/
/* Usage:
@include keyframes(my-transition) {
    from {opacity: 0;}
    to {opacity: 1;}
}
*/
/* Usage:
@include bp-Smartphones {
    width: 100%;
    float: none;
    margin: 0;
}
*/
.run-animation .spin1 {
  -webkit-animation: spinAnimation .5s linear 5;
  -moz-animation: spinAnimation .5s linear 5;
  -ms-animation: spinAnimation .5s linear 5;
  -o-animation: spinAnimation .5s linear 5;
  animation: spinAnimation .5s linear 5; }
.run-animation .spin2 {
  -webkit-animation: spinAnimation2 .5s linear 5;
  -moz-animation: spinAnimation2 .5s linear 5;
  -ms-animation: spinAnimation2 .5s linear 5;
  -o-animation: spinAnimation2 .5s linear 5;
  animation: spinAnimation2 .5s linear 5; }
.run-animation .spin1.animating, .run-animation .spin2.animating {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px); }

.wheel1 .spin1, .wheel1 .spin2 {
  animation-duration: .6s; }

.wheel2 .spin1, .wheel2 .spin2 {
  animation-duration: .7s; }

.wheel3 .spin1, .wheel3 .spin2 {
  animation-duration: .8s; }

@keyframes spinAnimation {
  0% {
    margin-top: 0; }
  100% {
    margin-top: 930px; } }
@keyframes spinAnimation2 {
  0% {
    margin-top: -930px; }
  100% {
    margin-top: 0; } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #63D66C;
  font-family: verdana, arial, serif;
  font-size: 25px;
  background: #222222;
  text-shadow: 0 0 1px #63D66C, 0 0 1px #fff, 0 0 1px #63D66C, 0 0 1px #63D66C, 0 0 1px #000, 0 0 3px #fff, 0 0 2px #000, 0 0 3px #000;
  width: 100%;
  height: 100%;
  text-align: center; }

.center {
  text-align: center;
  margin: 0 auto;
  display: inline-block; }

header {
  font-size: 50px;
  padding-bottom: 10px; }

.container {
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
  width: 713px; }

.result {
  margin: 10px 0;
  font-size: 35px;
  height: 20px;
  color: #63D66C; }

.clear {
  clear: both; }

div.hide {
  display: none; }

.slot-view {
  position: relative;
  width: 723px;
  height: 155px;
  overflow: hidden;
  margin: 0 auto; }

.wheel1, .wheel2, .wheel3, .wheel4, .wheel5 {
  width: 235px;
  height: 155px;
  float: left; }

.symbol-0 {
  background-image: url("../assets/Symbol_0.png"); }

.symbol-1 {
  background-image: url("../assets/Symbol_1.png"); }

.symbol-2 {
  background-image: url("../assets/Symbol_2.png"); }

.symbol-3 {
  background-image: url("../assets/Symbol_3.png"); }

.symbol-4 {
  background-image: url("../assets/Symbol_4.png"); }

.symbol-5 {
  background-image: url("../assets/Symbol_5.png"); }

.control-btn {
  background: url("../assets/button.png") no-repeat;
  display: block;
  width: 98px;
  height: 98px;
  margin-top: 40px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.1s ease-in; }
  .control-btn:hover {
    opacity: 1;
    transition: all 0.5s ease-in-out;
    transform: rotate(360deg); }
  .control-btn:active {
    opacity: 0.5;
    transition: all 0.2s ease-out; }

.bonus {
  text-align: center;
  font-size: 50px;
  height: 75px;
  margin-top: 30px;
  text-transform: uppercase;
  text-shadow: 0 0 5px #A5F1FF, 0 0 5px #A5F1FF, 0 0 10px #A5F1FF, 0 0 15px #A5F1FF, 0 0 15px #A5F1FF;
  letter-spacing: 5px; }

.spin1, .spin2 {
  overflow: hidden;
  position: absolute;
  height: 930px; }
  .spin1 div, .spin2 div {
    width: 235px;
    height: 158px;
    background-repeat: no-repeat; }

/*# sourceMappingURL=client.css.map */
